<footer>
    <div class = "desktop-footer">
        <div class = "social-media-links">
            <a href="https://www.instagram.com/kappasigmaumd/" target="_blank" rel="noopener noreferrer" class="insta-link" >
                <div class = "insta-banner">
                        <img src="/images/instagram-logo.svg" alt = "Instagram logo" class = "insta-logo">
                        <p>Follow us on Instagram!</p>
                        <img src="/images/instagram-logo.svg" alt = "Instagram logo" class = "insta-logo">
                </div>
             </a>
        </div>
        <div class = "block-footer">
            <div class="credits">
                <p>Site created and maintained by Ethan Everitt</p>
                <p>&copy 2025 Alpha Alpha Chapter, Kappa Sigma Fraternity</p>
            </div>
        </div>
    </div>
</footer>
<script src="navbar.js"></script>