<header class="desktop-header">
    <div class="header-elements">
            <div class="logo-container">
                <img src="/images/crest-transparent.png" alt="Kappa Sigma Logo" class="logo-image-small">
            </div>
            <div class="header-text">
                <div class="fraternity-name">KAPPA SIGMA</div>
                <div class="chapter-school-name">Alpha Alpha Colony | The University of Maryland, College Park, MD</div>
            </div>
    </div>
</header>
<nav class="desktop-nav">
    <div>
        <div class="nav-overlay">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/rush">Rush</a></li>
                <li><a href="/brothers">Brothers</a></li>
                <!-- <li><a href="/events">Events</a></li> -->
                <!-- <li><a href="/philanthropy">Philanthropy</a></li> -->
                <li><a href="/alumni">Alumni</a></li>
            </ul>
        </div>
        <div class="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</nav>