<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Kappa Sigma | UMD | About</title>
    <%- include('partials/headTag') %> <!-- Inserts head tag stuff -->
</head>
<body>
    <div class="scroll-container">
        <section class="page">
            <%- include('partials/navbar') %> <!-- Inserts navbar -->
        </section>
        <div class="outer-page">
            <div class="inner-page">
                <section class="page">
                        <div class="history">
                            <div class="fraternity-history">
                                <h1>Fraternity History</h1>
                                <p>The Kappa Sigma Fraternity can trace its roots back to the University of Bologna in the year 1400 when a group of students came together for mutual protection against the corrupt governor of the city, Baldassarre Cossa . <br><br>
                                    Kappa Sigma in America was founded one chilly evening in the fall of 1869, as five students attending the University of Virginia in Charlottesville gathered in William Grigsby McCormick's room at 46 East Lawn and planted the seed of Brotherhood. For many weeks the bonds of friendship had drawn these five together; now the need became clear for a formal structure to contain their feelings. Thus, not only did the Founders formalize their friendship, but they also created a fraternity steeped in the traditions of the past and dedicated to the Pursuit of Learning. The new brothers recorded their bond in a Constitution and in an Oath which set forth.</p>
                            </div>
                            <div class="the-five-friends">
                                <h1>The Five Friends and Brothers</h1>
                                <p>William Grigsby McCormick occupied the room at 46 East Lawn in the fall of 1869. It was there that he, with four friends, Frank Courtney Nicodemus, Edmund Law Rogers, John Covert Boyd and George Miles Arnold, founded the Kappa Sigma Fraternity on that cold December evening. Founder McCormick was in his second year at the University.</p>
                                <img src="images/ks_founders.png" alt="Kappa Sigma Founders" class="ks-founder-img">
                            </div>
                            <div class="the-golden-virginian">
                                <div class= "about-the-virginian">
                                    <h1>The Golden Hearted Virginian</h1>
                                    <p>Stephen Alonzo Jackson (who also attended the University of Virginia) is regarded as possibly the most important man in Kappa Sigma’s history. Through his efforts, a struggling local fraternity became a strong national organization. He was the architect of our Ritual, writer of our Constitution, and was our first Worthy Grand Master. </p>
                                </div>
                                <div class= "quote-virginian">
                                    <img src="images/quote_symbol.png" alt="quote symbols" class="quote-symbol">
                                    <p>May we not rest contentedly until the Star and Crescent is the pride of every college and university in the land!</p>
                                    <h6>&HorizontalLine; Stephen Alonzo Jackson</h6>
                                </div>
                            </div>
                            <hr>
                        </div>
                </section>
                <section class="page">
                        <div class="mission">
                            <h1>Mission</h1>
                            <div class="mission-grid-container">
                                <div class = "fellowship">
                                    <h2>
                                        <img src="images/fellowship_icon.png" alt="Fellowship Icon" class="fellowship-icon">
                                        Fellowship
                                    </h2>
                                    <p>Want to get more from your college experience? Kappa Sigma makes it happen. Joining Kappa Sigma provides opportunities for fellowship, fun, and personal growth that you simply can’t get elsewhere. Over 280,000 men have joined and enjoyed the unmatched experiences, involvement, and lifelong brotherhood that Kappa Sigma offers. There is no secret…our goal is to build better men.</p>
                                </div>
                                <div class = "leadership">
                                    <h2>
                                        <img src="images/leadership_icon.png" alt="Leadership Icon" class="leadership-icon">
                                        Leadership
                                    </h2>
                                    <p>Take the lead. In Kappa Sigma, brothers learn to get involved in their communities and take the lead when something needs to be done. Countless brothers, including senators, governors and CEOs, have said Kappa Sigma gave them the leadership skills they needed to succeed.</p>
                                </div>
                                <div class="scholarship">
                                    <h2>
                                        <img src="images/scholarship_icon.png" alt="Scholarship Icon" class="scholarship-icon">
                                        Scholarship
                                    </h2>
                                    <p>You’re in college for an education. From its earliest beginnings in Renaissance Italy, Kappa Sigma has promoted scholarships among its members. Since its inception, over $4.5 million in scholarships have been awarded by the Kappa Sigma Endowment Fund to brothers who excel in academics, campus involvement, and leadership. At the chapter level, brothers help you learn about the campus, provide advice on professors and classes, and help you study for those important assignments.</p>
                                </div>
                                <div class="Service">
                                    <h2>
                                        <img src="images/service_icon.png" alt="Service Icon" class="service-icon">
                                        Service
                                    </h2>
                                    <p>Helping others is part of being a Kappa Sigma. Brothers spend thousands of hours working in their communities and raise thousands of dollars for worthy causes each year. From organizing park clean-ups to serving as Big Brothers to organizing charity rock concerts, Kappa Sigmas work hard for their causes. College is fun, but only service gives you the great feeling of knowing you’ve helped someone and made a difference.</p>
                                </div>
                            </div>
                        </div>
                        <div class="facts">
                            <h1>Facts</h1>
                            <div class="fact-cards">
                                <div class="fact-card">
                                    <p>Kappa Sigma is the largest college social fraternity in the world with more than 200,000 living members, including over 17,000 undergraduates and more than 300 chapters and colonies located throughout the United States and Canada.</p>
                                </div>
                                <div class="fact-card">
                                    <p>Kappa Sigma has a very diverse membership base, including prominent figures such as Jimmy Buffett, Mike Johnson, Edgar Mitchell, and so many more.</p>
                                </div>
                                <div class="fact-card">
                                    <p>Since Kappa Sigma's inception, the Military Heroes campaign has donated over $1,000,000 to non-profit organizations that advocate on behalf of servicemen and women and those wounded in combat.</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                </section>
                <section class="page">
                        <div class="our-chapter">
                            <h1>Our Chapter</h1>
                            <div class="timeline">
                                <div class="timeline-entry">
                                    <h3>1874</h3>
                                    <p>The story of Kappa Sigma at the University of Maryland begins with the chartering of the Epsilon Chapter, making it one of the earliest Kappa Sigma chapters in the nation. Nine men were initiated, but by 1876 the chapter had gone inactive. This early chapter holds a unique place in fraternity history as the first Kappa Sigma chapter to fully close and later be revived. </p>                    
                                </div>
                                <div class="timeline-entry">
                                    <h3>1890</h3>
                                    <p>The chapter was rechartered under the name Alpha-Alpha — the very first chapter to bear a double-letter designation, a tradition that continues today. Unfortunately, the chapter again became inactive just three years later in 1893.</p>
                                </div>
                                <div class="timeline-entry">
                                    <h3>2025</h3>
                                    <p>The Alpha-Alpha Chapter begins a new era when a dedicated group of University of Maryland men, with the support of alumni and Kappa Sigma Headquarters, established a colony. This revival carries forward the vision of our founding brothers, blending our historic roots with a renewed commitment to fellowship, leadership, scholarship, and service.</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                </section>
                <section class="page">
                        <div class="officers">
                            <h1>Current Officers</h1>
                            <div class="officer-row three">
                                <div class="card">
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <!-- <img src="nash.jpg" alt="Nash Choudhury"> -->
                                            <h2>Grand Master</h2>
                                            <h3>Nash Choudhury</h3>
                                        </div>
                                        <div class="card-back">
                                            <p>Hometown: Naperville, IL</p>
                                            <p>Major: Psychology</p>
                                            <p>Minor: General Business</p>
                                            <p>Year: Junior</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <h2>Grand Procurator</h2>
                                            <h3>Tareq Dheini</h3>
                                        </div>
                                        <div class="card-back">
                                            <p>Hometown: Ellicott City, MD</p>
                                            <p>Major: Internatinoal Relations + Economics </p>
                                            <p>Minor: Internatinoal Development and Conflict Management</p>
                                            <p>Year: Junior</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <h2>Grand Master of Ceremonies</h2>
                                            <h3>Simon Palatchi</h3>
                                        </div>
                                        <div class="card-back">
                                            <p>Hometown: </p>
                                            <p>Major: </p>
                                            <p>Year: </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="officer-row two">
                                <div class="card">
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <h2>Grand Scribe</h2>
                                            <h3>Ethan Everitt</h3>
                                        </div>
                                        <div class="card-back">
                                            <p>Hometown: Garnet Valley, PA</p>
                                            <p>Major: Computer Science, focus in Cybersecurity</p>
                                            <p>Minor: General Business</p>
                                            <p>Year: Senior</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <h2>Grand Treasurer</h2>
                                            <h3>Nick Bentley</h3>
                                        </div>
                                        <div class="card-back">
                                            <p>Hometown: Baltimore, MD </p>
                                            <p>Major: Early Childhood Education/Early Childhood Spciel Education</p>
                                            <p>Year: Senior</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </div>
        <section class = "page">
            <%- include('partials/footer') %> <!-- Inserts footer -->
        </section>
    </div>
</body>
</html>