<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Kappa Sigma | UMD | Rush</title>
    <%- include('partials/headTag') %> <!-- Inserts head tag stuff -->
</head>
<body>
    <div class="scroll-container">
        <section class="page">
            <%- include('partials/navbar') %> <!-- Inserts navbar -->
        </section>
        <div class="outer-page">
            <div class="inner-page">
                <section class="page">
                        <div class="alumni">
                            <h1>Alumni</h1>
                            <div class="alumni-about">
                                <p>The Alpha Alpha Colony of Kappa Sigma at the University of Maryland has a proud and storied history, shaped by the dedication, leadership, and brotherhood of generations past. While our chapter has continued to grow and thrive, we recognize that over the years we’ve lost touch with some of the brothers who helped build the foundation we stand on today.
                                    <br><br>
                                    We would love to reconnect with you. Whether you graduated last year or decades ago, you remain a vital part of our history and our future. This page is dedicated to creating opportunities to come together again — in person, online, and in spirit.</p>
                            </div>
                            <hr>
                            <div class="alumni-volunteer">
                                <h2>Volunteer</h2>
                                <p>Be apart of our chapter's advisory team where you can mentor brothers and provide assistance to the Chapter. For more information please reach out to our current Alumnus Advisor, Chris Tinsman (302)-245-4100.</p>
                            </div>
                            <hr>
                            <div class = "alumni-chapter">
                                <h2>Chapter</h2>
                                <p>If you are a UMD Kappa Sigma alumni and would like to speak at our weekly chapter, please reach out to our Grand Scribe, Ethan Everitt at ks.aa.gs.umd@gmail.com.</p>
                            </div>
                            <hr>
                            <div class = "alumni-donate">
                                <h2>Donate</h2>
                                <p>Consider donating money to the chapter to help fund Capital Campaigns, Scholarships, and Charitable events. Please visit <a href="https://www.kappasig.net/s/campaign" target="_blank">kappasigma.net</a> to donate.</p>
                            </div>
                        </div>
                </section>
            </div>
        </div>
        <section class = "page">
            <%- include('partials/footer') %> <!-- Inserts footer -->
        </section>
    </div>
</body>
</html>