<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Kappa Sigma | UMD | Home</title>
    <%- include('partials/headTag') %>
    
</head>
<body>
    <div class="scroll-container">
        <section class="page">
        <%- include('partials/navbar') %> <!-- Inserts navbar -->
            <div class="induction-picture-text">   
                <!-- <img src="images/ks_logo_horizontal_slogan_brotherhood-bold-red.png" alt="Colony Induction" class="ks-brotherhood-no-other"> -->
                <img src="/images/Ks-colony-induction.jpeg" alt="Colony Induction" class="ks-colony-induction">
            </div>
        </section>
        <section class="page">
            <div class="home-body">
                <div class="welcome">
                    <div class="welcome-banner">
                        <h1>Welcome to the Alpha Alpha Chapter!</h1>
                    </div>
                    <div class="welcome-text">
                        <p>Founded in 1869 at the University of Virginia, Kappa Sigma is the largest college social fraternity in the world with more than 250,000 living members, including over 17,000 undergraduates and nearly 300 chapters and colonies located throughout the United States and Canada.</p>
                        <p>Kicking off and becoming a colony in spring of 2025 with approximately 50 active undergraduate members from diverse background, the chapter prides itself on boldness and a commitment to exelence</p>
                        <p>The Alpha-Alpha chapter at UMD challenges itself to set the standard for fraternity life both locally and nationally. Just colonionizing recently, the chapter has high expectations for what is has to occomplish</p>
                        <hr>
                    </div>         
                </div>
                <div class = "more-info">
                    <div class="home-about-link">
                        <a href="/about">
                            <img src="images/ks-hq.jpg" alt="Kappa Sigma Headquarters" class="ks-hq">
                        </a>
                        <div class = "home-about">
                            <div class="home-about-header">
                                <h2>About</h2>
                            </div>
                            <div class="home-about-text">
                                <p>Learn more about our orgnization, mission, and extensive history</p>
                            </div>
                            <div class="home-about-link-page">
                                <a href="/about"><b>&lAarr; Learn more</b></a>
                            </div>
                        </div>
                    </div>
                    <div class = "home-rush-link">
                        <div class="home-rush">
                            <div class="home-rush-header">
                                <h2>Rush</h2>
                            </div>
                            <div class="home-rush-text">
                                <p>Ready to take the next step? Fill out this Rush form! </p>
                            </div>
                            <div class="home-rush-link-page">
                                <a href="/rush"><b>Check it out &rAarr;</b></a>
                            </div>
                        </div>
                        <a href="/rush">
                            <img src= "images/ks_logo_horizontal_slogan_brotherhood-bold-red.png" alt="Kappa Sigma, A brotherhood like no other" class="ks-brotherhood-slogan">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class = "page">
            <%- include('partials/footer') %> <!-- Inserts footer -->

        </section>
    </div>
</body>
</html>